@import "var";


.menu-wrapper{
    background-color: $darkPurple;
    position: absolute;
    height: 640px;
    right: 0;
    left: 0;
    bottom: 100%;
    transition: all .3s ease;
    box-shadow: 0px 10px 10px #100e1d75;
    .search-nav{
        @include flex(column,center,center);
        border-bottom: 1px solid $gray;
        padding-bottom: 2em;
        .close-icon-container{
            @include flex(row, flex-end,center);
            width: 90%;
            svg{
                height: 20px;
                width: 20px;
                &:hover{
                    cursor: pointer;
                }
                path{
                    fill: $whiteSmoke;
                }
            }
        }
    }
    .search-bar{
        @include flex(column, center,center);
        margin-top: 1.5em;
        .input-container{
            @include flex(row, space-evenly,center);
            outline: 1px solid $whiteSmoke;
            padding: .75em 1em;
            svg{
                height: 20px;
                width: 20px;
                display: inline-block;
                margin-right: .5em;
                path{
                    fill: $gray;
                }
            }
            #location{
                background-color: transparent;
                border: none;
                font-family: "Raleway", sans-serif;
                color: whitesmoke;
                &:focus{
                    outline: none;
                }
            }
        }
        #search{
            display: block;
            padding: 1em;
            background-color: $bluePurple;
            border: none;
            font-family: "Raleway",sans-serif;
            color: $whiteSmoke;
            font-size: .9em;
            font-weight: 600;
        }
    }
    
// country search list
#country{
    padding: .5em;
    padding-right: 1em;
    display: block;
    margin: 1em 0;
    width: 213px;
    height: 44px;
    background-color: transparent;
    border: 1px solid $whiteSmoke;
    font-family: "Raleway", sans-serif;
    color: $gray;
    option{
        color: $veryDarkPurple;
    }
    &:focus{
        outline: none;
    }
}

    .results-container{
        @include flex(row, center, center);
        margin: 3em auto;
        width: 85%;
        overflow-y: scroll;
        .results{
            width: 100%;
            height: auto;
            .content{
                height: 300px;
            }
        }
    }
}

